<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="${arcaneAppLabel}"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arcane"
        android:usesCleartextTraffic="false">
        <meta-data
            android:name="os.arcane.NETWORK_ALLOWED"
            android:value="${arcaneNetworkAllowed}" />
        <activity
            android:name=".ArcanePackagedApplicationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="os.arcane.intent.action.OPEN_APP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
